@import "tailwindcss";


/* 8a7341 ff6b00 1d1f2c 4a4c56 1d1f2c  1d1f2c  8a7341 8a7341  4a4c56  1d1f2c  272727*/

:root {
  --white     : #ffffff;
  --background: #FFF9EB;
  --foreground: #4A4C56;
  --color1    : #1D1F2C;
  --color2    : #3d521a;
  --color3    : #AC9A72;
  --color4    : #CCC8BE;
  --color5    : #777980;
  --color6    : #8a7341;
  --color7    : #272727;
}

@theme inline {
  --color-white: var(--white);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-color1: var(--color1);
  --color-color2: var(--color2);
  --color-color3: var(--color3);
  --color-color4: var(--color4);
  --color-color5: var(--color5);
  --color-color6: var(--color6);
  --color-color7: var(--color7);
  --font-poppins: var(--font-poppins);
  --font-playwrite: var(--font-playwrite);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.some-element {
  font-family: var(--font-poppins);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}